body {
    background-color: #40E0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-fluid{
    width: 80%;
}

.long{
    margin-top: 3rem;
}

@media (max-width: 575px) {
    .container-fluid{
        width: 100%;
    }
    .short{
        padding-top: 20%;
    }
    .long{
        margin-top: 0%;
    }
}

.image{
    width: 60%;
}
.para{
    font-size: large;
}