.box-display {
    height: 250px;
    width: 250px;
    background-color: aqua;
}

@media(max-width: 768px){
    .box-display{
        height: 250px;
    }
}

.image-preview{
    width: 200px;
    height: 200px;
}